.footer {
    background-color: #81aac5;
    padding: 2%;
}

.footer-block,
.footer-block div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-block .logo {
    width: 30%;
}