.friends-block hr {
    margin: 30px 0;
}

.search-friend {
    display: flex;
    align-items: center;

    padding-top: 30px;
}

.search-friend h3 {
    font-size: 26px;

    width: 20%;
}

.search-friend input {
    padding: 10px;
    font-size: 18px;
    border: 2px solid #393646;

    width: 40%;
}

.friends-list > h3 {
    margin-bottom: 30px;
    font-size: 24px;
    padding-left: 30px;
}

.friends-list li {
    display: flex;
    align-items: center;

    padding: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
}

.friends-list .request {
    border: 2px solid orange;
}

.friends-list li img {
    width: 50px;
    margin-right: 30px;
}

.friends-list li h3 .friend-name {
    margin-right: 10px;
}

.friends-list li .friend-controller {
    margin-left: auto;

    display: flex;
    flex-direction: column;
}

.friend-controller button {
    width: 200px;
    padding: 5px 10px;
    border: 2px solid #393646;
    cursor: pointer;
    font-size: 16px;
}

.friend-controller .delete-friend {
    margin-bottom: 20px;

    background-color: #df4b4b;
}

.friend-controller .messege-friend {
    background-color: #159d15;
}

.friend-controller .send-request {
    background-color: #81aac5;
}

.friend-controller .send-request:hover {
    background-color: #6b8fa7;
}

.friend-controller .refuse-request {
    background-color: #df4b4b;
    margin-bottom: 20px;
}

.friend-controller .refuse-request:hover {
    background-color: #b13e3e;
}

.friend-controller .confirm-request {
    background-color: #159d15;
}

.friend-controller .send-message {
    background-color: #cdc024;
    padding: 0 !important;
}

.friend-controller .send-message a {
    display: block;
    padding: 5px 0;
}

.friend-controller .send-message:hover {
    background-color: #b1a521;
}

.friend-controller .confirm-request:hover {
    background-color: #127a12;
}

.friend-controller .sended-request:disabled {
    cursor: default;
    background-color: #c9dae5;
}

.no-friends {
    margin-bottom: 30px;
    font-size: 22px;
    font-style: italic;
}