.user-profile {
    display: flex;
    justify-content: space-between;
}

.user-profile-left {
    width: 25%;
}

.user-avatar {
    padding: 30px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
}

.user-avatar .edit-btn a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 5px 0;
}

.user-avatar img {
    width: 100%;
}

.edit-btn {
    width: 100%;
    padding: 3px;
    font-size: 18px;
    margin-top: 15px;
    background-color: #81aac5;
    border: 2px solid #393646;
    color: #393646;
}

.edit-btn:hover {
    background-color: #c2d7e5;
}

.user-profile-right {
    width: calc(75% - 30px);
}

.user-info,
.user-nav {
    padding: 30px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin-bottom: 30px;
}

.user-info > div {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    font-weight: 600;
}

.user-info > div span {
    width: 50%;
}

.user-info .registration-date {
    font-size: 14px;
    color: #3c3c3c;
    opacity: 0.7;
    font-weight: 100;
    margin-top: 10px;
}

.user-info hr {
    margin: 10px 0;
}

.user-count {
    margin: 20px auto 0;
}

.user-count > div {
    font-weight: 400;
    width: 23%;
}

.user-count > div a {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.user-count > div span {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile .post-author,
.favorites-block .post-author,
.bookmark-block .post-author {
    position: relative;
}

.user-profile .post-author .close-btn,
.favorites-block .post-author .close-btn, 
.bookmark-block .post-author .close-btn {
    position: absolute;
    right: 0;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    background-color: #ed1010;
    padding: 5px;
    border: 2px solid #000;
}

.user-profile .post-author .edit-btn-for-post {
    position: absolute;
    right: 50px;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    background-color: #eda010;
    padding: 5px;
    border: 2px solid #000;
}

.user-profile .post-author .close-btn img,
.user-profile .post-author .edit-btn-for-post img,
.favorites-block .post-author .close-btn img,
.bookmark-block .post-author .close-btn img {
    width: 13px;
    height: 13px;
}

.user-nav {
    margin-top: 30px;
}

.user-nav div {
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
}

.user-nav div:hover {
    background-color: #c2d7e5;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
}

.popup-block {
    position: absolute;
    top: 15%;
    left: 25%;
    background-color: #fff;
    z-index: 10;
    padding: 30px;
    width: 50%;
}

.popup .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.popup-block .close-btn {
    position: absolute;
    top: -50px;
    right: -50px;
    display: flex;
    align-items: center;
    padding: 5px;
    border: none;
    background-color: #ffa4a4;
}

.popup-block .close-btn img {
    width: 25px;
}

.user-block .title-wrapper > h1 {
    display: flex;
    align-items: center;
}

.user-block .title-wrapper > h1 img {
    width: 25px;
    margin-right: 25px;
}

.user-block .title-wrapper > h1:hover a {
    text-decoration: underline;
}

.user-profile-edit {
    width: 100%;
}

.user-profile-nav {
    padding: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
}

.nav-list-edit {
    display: flex;
    width: 50%;
}

.nav-list-edit li {
    width: 33.3333%;
}

.nav-list-edit li a {
    display: block;
    text-align: center;
    width: calc(100% - 40px);
    padding: 5px 20px;
    font-size: 18px;
    font-weight: bold;
}

.nav-list-edit li:hover {
    box-shadow: 0px -2px 0px 0px #393646 inset;
}

.edit-block {
    padding: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
}

.edit-content h3 {
    margin-bottom: 50px;
}

.edit-content form {
    width: 50%;
}

.edit-content form div {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-content form div input {
    width: 50%;
    padding: 5px;
    border: 2px solid #393646;
    font-size: 16px;
}

.edit-content form button {
    margin-top: 30px;
    padding: 5px 10px;
    border: 2px solid #393646;
    background-color: #c2d7e5;
    font-size: 18px;
    width: 100px;
}

.edit-content form button:hover {
    background-color: #81aac5;
    transform: scale(1.1);
}

.edit-block form input.checkbox {
    height: 25px;
}

.edit-post {
    display: none;
}

.display-none {
    display: none !important;
}

.edit-post .confirm-btn {
    background-color: #eda010 !important;
}

.edit-post .confirm-btn:hover {
    background-color: #cf8e15 !important;
}

.edit-post .close-btn {
    border: 2px solid #393646;
    width: 100px !important;
    background-color: #ed1010;
    display: flex;
    align-items: center;
    font-size: 18px;
    height: 100% !important;
    padding: 5px 0 !important;
}

.edit-post .close-btn:hover {
    background-color: #ca1414 !important;
}